require "json"
require "cinch"
require "redis"

channels = (ENV['LOGBOT_CHANNELS'] || '#test56').split /[\s,]+/
redis = Redis.new(:thread_safe => true)

channels.each do |chan|
  redis.sadd("irclog:channels", "#{chan}")
end

bot = Cinch::Bot.new do
  configure do |conf|
    conf.server = (ENV['LOGBOT_SERVER'] || "irc.freenode.net")
    conf.nick = (ENV['LOGBOT_NICK'] || "logbot_")
    conf.channels = channels
  end

  on :message do |msg|
    if not msg.channel.nil?
      date = msg.time.strftime("%Y-%m-%d")
      key = "irclog:channel:#{msg.channel.name}:#{date}"
      redis.rpush(key, {
        :time => "#{msg.time.strftime("%s.%L")}",
        :nick => "#{msg.user.nick}",
        :msg  => "#{msg.message}"
      }.to_json)
    end
  end
end
bot.start
